@import "./variables";

body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  min-height: 100vh !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  background: $primary !important;
  // font-family: "Gentium Book Basic", serif;
  font-family: "Open Sans", sans-serif, "Gentium Book Basic", serif !important;
}

img {
  width: 100%;
}

.hoverBtn {
  background-color: $dark;
  color: $light;
  &:hover {
    background-color: $light;
    color: $dark;
  }
}

#loginForm input[type="text"],
#loginForm input[type="email"] {
  border: 3px solid $secondary;
}
#loginForm input[type="checkbox"] {
  border: 2px solid $light-grey;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  div {
    width: 120px;
    height: 120px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $light;
    }
  }
}

// .product-list {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   div {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 120px;
//     height: 120px;
//     // flex-grow: 1;
//     // &:last-child {
//     //   align-self: start;
//     //   background-color: red;
//     // }
//     @media (min-width: 375px) {
//       width: 145px;
//       height: 145px;
//     }
//     @media (min-width: 576px) {
//       width: 166px;
//       height: 166px;
//     }
//     @media (min-width: 576px) {
//       width: 200px;
//       height: 200px;
//     }

//     p {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       min-width: 100%;
//       height: 100%;
//       border-radius: 50%;
//       background: $light;
//     }
//   }
// }

.last-link {
  display: none !important;
  @media (min-width: 375px) {
    display: inline-block !important;
  }
}

.active {
  color: $secondary !important;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  @media (min-width: 768px) {
    position: static;
  }
}

.navbar-toggler {
  border: none !important;
  background: transparent !important;
  &:hover {
    opacity: 0.7;
  }
  &:focus {
    color: transparent;
    border: 1px solid $info !important;
  }
}

.bg-image {
  background: no-repeat center/cover url("../../assets/images/image.png");
  height: 251px;
  @media (min-width: 768px) {
    height: 462px;
  }
}

.view-specials-btn {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  &:hover {
    background: rgba(0, 0, 0, 1);
  }
  @media (min-width: 758px) {
    font-size: 1.2rem;
  }
}
.transparent-bg-btn-custom-light {
  background: rgba(250, 250, 250, 0.8);
  transition: 0.3s;
  &:hover {
    background: rgba(250, 250, 250, 1);
  }
}
