@import "./variables";

.hoverBtn {
  background: black;
  color: white;
  transition: 0.6s;
  &:hover {
    color: black;
    border: 2px solid $primary;
    box-shadow: -7rem 0 5rem $secondary inset, 5rem 0 5rem $myCustom inset;
  }
}

#loginForm input[type="text"],
#loginForm input[type="email"] {
  border: 3px solid $secondary;
}
#loginForm input[type="checkbox"] {
  border: 2px solid $light-grey;
}

.products {
  max-width: 300px;
  @media (min-width: 576px) {
    max-width: 100%;
  }

  .products__item {
    width: 115px;
    height: 115px;
    margin: 1rem 0;
    padding: 1px;

    @media (min-width: 320px) {
      width: 130px;
      height: 130px;
    }
    @media (min-width: 375px) {
      width: 145px;
      height: 145px;
    }
    @media (min-width: 576px) {
      width: 166px;
      height: 166px;
    }

    .products__paragraph {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $light;
    }
  }
}

.mw-1140 {
  @media (min-width: 1200px) {
    max-width: 1140px !important;
  }
}

.last-link {
  display: none !important;
  @media (min-width: 350px) {
    display: inline-block !important;
  }
}

.active {
  color: $secondary !important;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  @media (min-width: 768px) {
    position: static;
  }
}

.navbar-toggler {
  border: none !important;
  background: transparent !important;
  &:hover {
    opacity: 0.7;
  }
  &:focus {
    color: transparent;
    border: 1px solid $info !important;
  }
}

.bg-image {
  background: no-repeat center/cover url("../../assets/images/image.png");
  height: 251px;
  @media (min-width: 768px) {
    height: 462px;
  }
}

.view-specials-btn {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  &:hover {
    background: rgba(0, 0, 0, 1);
  }
  @media (min-width: 758px) {
    font-size: 1.2rem;
  }
}
.transparent-bg-btn-custom-light {
  background: rgba(250, 250, 250, 0.8);
  transition: 0.3s;
  &:hover {
    background: rgba(250, 250, 250, 1);
  }
}
