@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Open+Sans&display=swap");

$primary: #8dbde7;
$secondary: #81cfc2;
$dark: #333;
$light: #fff;
$info: #8d8d8d;
$light-grey: #cecece;
$myCustom: #c20972;
$third-color: #efef94;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "info": $info,
  "light-grey": $light-grey,
  "myCustom": $myCustom,
  "third-color": $third-color,
) !default;

$position-values: (
  0: 0,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  100: 100%,
);
